<section class="Navbar">
    <div class="nav-content-logo">
        <a href="#inicio">
            <img id="icono_movil" class="logo-menu" src="/assets/logo_brand.png" alt="Transporte">
        </a>
    </div>
    <nav class="nav-items" id="navItems">
        <img id="logo-menu" class="logo-menu" src="/assets/logo_brand.png" />
        <a href="#inicio" class="nav-link">Inicio</a>
        <a href="#cargar_puntos" class="nav-link">Predicción</a>
        <button title="Cerrar Session" id="btn_cerrar_session" class="nav-link">Cerrar session</button>
    </nav>
    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
</section>