._content_main_login_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #0000006b), url(/assets/fondo_horizontal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    box-shadow: #dbdbdb 1px 1px 10px;
    width: 550px;
    gap: 30px;
    padding: 20px;
}

.content_form_login img {
    width: 250px;
}

.content_input_form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
}

.content_input_form_login input {
    padding-right: 35px;
}

.content_input_form_login img {
    width: 25px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
}

.content_btn_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content_btn_login p {
    color: #006eff;
    margin: 0;
    border-bottom: #006eff 1px solid;
    transition: all 0.4s ease;
}

.content_btn_login p:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media(max-width: 768px) {
    .content_form_login {
        width: 90%;
    }
}


/* REGISTER */

._content_main_register_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-image: linear-gradient(180deg, #0000006b), url(/assets/fondo_horizontal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.content_form_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    box-shadow: #dbdbdb 1px 1px 10px;
    width: 550px;
    gap: 30px;
    padding: 40px;
}

.content_form_register img {
    width: 250px;
}

.content_input_form_register {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    gap: 20px;
}

.content_input_form_register input {
    padding-right: 35px;
}

.content_input_form_register img {
    width: 25px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
}

.content_btn_register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content_btn_register p {
    color: #006eff;
    margin: 0;
    border-bottom: #006eff 1px solid;
    transition: all 0.4s ease;
}

.content_btn_register p:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media(max-width: 768px) {
    .content_form_register {
        width: 100%;
    }

    .content_input_form_register {
        width: 100%;
    }
}